<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit incidunt dolor ab, illum itaque dignissimos quam eveniet adipisci totam perspiciatis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit incidunt dolor ab, illum itaque dignissimos quam eveniet adipisci totam perspiciatis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit incidunt dolor ab, illum itaque dignissimos quam eveniet adipisci totam perspiciatis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit incidunt dolor ab, illum itaque dignissimos quam eveniet adipisci totam perspiciatis?</p>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>